.all-post {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .all-post .post-with-comments {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  }
  